body {
  background: #83a4d4;
  background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
  background: linear-gradient(to right, #b6fbff, #83a4d4);
}

#herotextbox {
  width: 800px;
}

#herotext {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

#carpicture {
  display: block;
  margin-top: 6%;
}

#haas-logo {
  width: 130px;
  height: 30px;
}

#herobutton {
  padding-top: 1%;
}

#profilepicture {
  display: block;
  width: 25%;
  height: 25%;
  margin-top: 1%;
}

.accordionbio {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
}

#biotitletext {
  padding-top: 1%;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}
