body{
  background: #83a4d4;
  background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
  background:background-image var(--gradient);
  background-size: 500%;
  animation: bg 10s infinite alternate;
}      /*linear-gradient(to right, #b6fbff, #83a4d4)*/

:root{
  --gradient: linear-gradient(
    45deg,
    #ff5b68,
    #ed6078,
    #db6488,
    #c86998,
    #b66da8,
    #a472b9,
    #9276c9,
    #7f7bd9,
    #6d7fe9,
    #5b84f9
  );
}

@keyframes bg{
  0% {background-position: left;}
  100% {background-position: right;}
}


#herotextbox {
  width: 800px;
}

#herotext {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

#carpicture {
  /*Car picture on the home page*/
  display: block;
  margin-top: 6%;
}

#haas-logo {
  width: 130px;
  height: 30px;
}

#herobutton {
  padding-top: 1%;
}

#profilepicture {
  display: block;
  width: 25%;
  height: 25%;
  margin-top: 1%;
}

.accordionbio {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
}

#biotitletext {
  padding-top: 1%;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

#cartitletext {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  padding-top: 1%;
}

#maincarimage {
  /*Car picture on the about car page*/
  display: block;
  width: 50%;
  height: 50%;
  padding-top: 1%;
}

#carinfotext {
  font-size: 20px;
  font-weight: 500;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 1%;
}
