body {
  background: #83a4d4;
  background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
  background: linear-gradient(to right, #b6fbff, #83a4d4);
}

h1 {
  align-self: center;
  font-family: Helvetica;
}
#herotextbox {
  width: 800px;
}

#herotext {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

#profilepicture {
  display: block;
  padding-top: 2%;
}

#haas-logo {
  width: 130px;
  height: 30px;
}

#herobutton {
  padding-top: 1%;
}
